name: Build and Publish to PyPi

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
      
    - name: Install requirements
      run: pip install -r requirements.txt
    
    - name: Install poetry
      run: pip install poetry

    - name: Build package PyPi
      run: poetry build

    - name: Configuring PyPi Token
      run: poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
      env:
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
      
    - name: Publish to PyPi
      run: poetry publish